<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleHydee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="JzJInfoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://app2.jzj.cn:8046/up/jzjinfo.asmx" binding="basicHttpBinding"
                bindingConfiguration="JzJInfoSoap" contract="jzj.JzJInfoSoap"
                name="JzJInfoSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ConsoleHydee.Properties.Settings>
            <setting name="ConsoleHydee_cn_jzj_app2_JzJInfo" serializeAs="String">
                <value>http://app2.jzj.cn:8046/up/jzjinfo.asmx</value>
            </setting>
        </ConsoleHydee.Properties.Settings>
    </applicationSettings>
</configuration>